# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
*.Release
build-funcatching-Qt4-Debug/debug/funcatching.exe
*.Debug
build-funcatching-Qt4-Release/release/funcatching.exe
build-server-Qt4-Release/release/server.exe
build-funcatching-Qt4-Release/map/新建文件夹/xx.map
*.map
